.selected{
    font-weight: bold;
}
.appbar{
    background-color: #313131!Important;
}
.appNav{
    flex: auto;
    text-align: right;
}
.light-nav{
    margin-left: -12;
    margin-right: 20;
    display: inline!Important;
    color: white!Important;
}